

figure.bw-hovering {
  img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */;
    transition: filter 1s ease;
    &:hover {
      -webkit-filter: unset;
      -moz-filter: unset;
      -ms-filter: unset;
      -o-filter: unset;
      filter: unset;
    }
  }
  figcaption {
    color: inherit;
  }
}